ion-content {
  --background: #0e0d0d;
}

ion-list {
  background: transparent;
  --background: transparent;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  color: #d4a853;

  ion-icon {
    font-size: 5rem;
    margin-bottom: 16px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.cart-item {
  --background: #2c1a0e;
  --border-color: #5c3317;
  margin: 8px 12px;
  border-radius: 12px;

  .item-img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 12px;
  }

  h2 {
    color: #f5c842;
    font-weight: 700;
  }

  .vendedor {
    color: #d4a853;
    font-size: 0.8rem;
  }

  .precio {
    color: #c8860a;
    font-weight: 700;
  }
}

.cantidad-control {
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    min-width: 20px;
    text-align: center;
  }
}

.total-area {
  padding: 20px;
  margin-top: 10px;

  .total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 4px;

    span {
      color: #d4a853;
      font-size: 1.2rem;
    }

    .total-precio {
      color: #f5c842;
      font-size: 1.8rem;
      font-weight: 900;
    }
  }
}